.app__content {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
       
}

.header {
    padding-top: 25px;
    margin: 0 auto; 
    width: 1024px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
 
.user__content{
    gap: 1em;
    width: 1024px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
}


@media (max-width: 576px) {
    .user__content {
      justify-content: center;
      grid-template-columns: 1fr;
      padding: 0 10px;
    }
    
    .header {
        width: 100%;
        flex-direction: column;        
    }
    
    .card__title {
        font-size: large;
        text-align: center;
        margin-bottom: 10px;
    }
    .openForm__btn {
        width: 60%;
        margin: 0 auto;
    }
  }